<footer class="py-8 text-center text-zinc-600 text-sm">
  &copy; 2025 Murb Brasil. Todos os direitos reservados.<br />
  <a
    href="https://murbbrasil.com/termos-de-servico/"
    title="Termos de Serviço"
    class="text-zinc-800 hover:underline"
    target="_blank"
  >
    Termos de Serviço
  </a>{" "}
  |{" "}
  <a
    href="https://murbbrasil.com/politica-de-privacidade/"
    title="Política de Privacidade"
    class="text-zinc-800 hover:underline"
    target="_blank"
  >
    Política de Privacidade
  </a>
</footer>
