<footer class="py-8 text-center text-zinc-600 text-sm">
  &copy; 2025 Murb Brasil. Todos os direitos reservados.<br />

  <a
    href="javascript:;"
    title="Termos de Serviço"
    class="text-zinc-800 hover:underline"
  >
    Termos de Serviço
  </a>{" "}
  |{" "}
  <a
    href="javascript:;"
    title="Termos de Serviço"
    class="text-zinc-800 hover:underline"
  >
    Política de Privacidade
  </a>
</footer>
