<header class="py-8">
  <div class="grid place-items-center max-w-4xl mx-auto">
    <h1 class="font-bold text-4xl">Murb</h1>
    <h2 class="font-bold text-2xl">Conclua sua compra</h2>

    <p class="mt-2 text-zinc-500 max-w-lg text-center">
      Pague pelos serviços da Murb com segurança. Sua transação é criptografada
      e protegida.
    </p>
  </div>
</header>
