<header class="pt-8 pb-4 px-4">
  <div class="grid place-items-center max-w-4xl mx-auto">
    <!-- <h1 class="font-bold text-4xl">Murb</h1> -->
    <div class="w-32">
      <img src="murb-logo.png" alt="Murb" />
    </div>
    <h2 class="font-bold text-xl mt-1">Conclua sua compra</h2>

    <p class="mt-2 text-zinc-500 max-w-lg text-center">
      Pague pelos serviços da Murb com segurança. Sua transação é criptografada
      e protegida.
    </p>
  </div>
</header>
