---
import {
  Table as TableUI,
  TableBody,
  TableCell,
  TableHead,
  TableHeader,
  TableRow,
} from "./ui/table";
import { Separator } from "../components/ui/separator.tsx";
---

<TableUI>
  <TableHeader>
    <TableRow>
      <TableHead className="px-1">Plano</TableHead>
      <TableHead className="w-[100px] px-1">Invoice</TableHead>
      <TableHead className="px-1">Status</TableHead>
      <TableHead className="px-1">Método de pagamento</TableHead>
      <TableHead className="text-right px-1">Valor</TableHead>
    </TableRow>
  </TableHeader>
  <TableBody>
    <TableRow>
      <TableCell className="font-medium px-1">VIP Mensal</TableCell>
      <TableCell className="px-1">INV001</TableCell>
      <TableCell className="px-1">Pago</TableCell>
      <TableCell className="px-1">Cartão de crédito</TableCell>
      <TableCell className="text-right font-medium px-1">R$7,29 / mês</TableCell
      >
    </TableRow>
  </TableBody>
</TableUI>

<Separator className="my-4" />

<div class="flex items-center justify-between">
  <p class="font-medium">Valor total</p>
  <span class="font-bold text-xl text-[#FFB500]">R$7,29</span>
</div>
